@charset "UTF-8";

/*
 base
 */
body {
  font-size: 16px;
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

main,
footer {
  margin-left: 300px;
  color: #fff;
}
.section__wrap {
  padding: 60px 20px;
}
.section__inner {
  max-width: 900px;
  margin: 0 auto;
}
.section__title {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  width: 100%;
}
.section__title:before,
.section__title:after {
  position: absolute;
  content: "";
  width: 28%;
  height: 1px;
  top: 50%;
  background-color: #fff;
}
.section__title:before {
  left: 0;
}
.section__title:after {
  right: 0;
}
.main.container {
  width: 100%;
}

/* 
header
*/
.header {
  position: fixed;
  top: 0px;
  left: 0;
  background-color: #fff;
  width: 300px;
  height: 100%;
  padding: 35px;
  overflow-y: auto;
  z-index: 100;
}
.header__title {
  z-index: 5;
  max-width: 220px;
}
.header__logo {
  width: 220px;
}
.header__list {
  margin-top: 60px;
}
.header__item {
  margin-top: 20px;
}
.header__list--sns {
  margin-top: 80px;
}

/* 
main
 */

/* MV */
.backgroundmv {
  position: fixed;
  left: 300px;
  top: 0;
  z-index: -2;
}
.main__movie {
  height: 100vh;
}

/* example */
.example {
  margin-top: 100vh;
}
.example__image__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.example__item {
  margin: 0 auto;
  max-width: 512px;
  width: 47%;
  height: auto;
  margin-top: 50px;
  border: 1px solid #fff;
}
.example__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* feature */
.feature {
  padding-bottom: 200px;
}
.feature__list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.feature__item {
  width: 30%;
}
.feature__link {
  display: block;
  width: 100%;
  padding: calc(50% - 0.5em) 0;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.feature__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #646464;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.feature__link:hover::after {
  left: 0;
}
.feature__title {
  font-weight: bold;
  margin-top: 16px;
}
.feature__text {
  margin-top: 16px;
}
/* flow */
.flow {
  background-color: #fff;
  color: #333;
  text-align: left;
}
.flow > .section__inner > .section__title {
  color: #333;
  text-align: center;
}
.flow > .section__inner > .section__title:before,
.flow > .section__inner > .section__title:after {
  background-color: #333;
}
.flow h2 {
  text-align: left;
  margin-top: 60px;
}
.flow__wrap {
  display: flex;
}
.flow__figure {
  width: 200px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.flow__figure::after {
  content: "";
  width: 40px;
  height: 560px;
  position: absolute;
  background-color: #ffdd00;
  left: 50%;
  translate: -50% 0;
  top: 60px;
  z-index: -1;
}

.flow__figure__item {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  background-color: #414141;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 200px;
  height: 80px;
  margin-top: 60px;
  position: relative;
}
.flow__figure__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 100px solid transparent;
  border-top: 30px solid #414141;
  border-right: 100px solid transparent;
  border-bottom: 30px solid transparent;
}
.flow__desc__number {
  margin-top: 60px;
  width: 7%;
  position: relative;
}
.flow__desc__number-box {
  color: #fff;
  width: 2em;
  height: 2em;
  border: 1px solid #414141;
  background-color: #414141;
  border-radius: 50%;
  position: absolute;
  padding: 1em;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow__desc__number-box:nth-child(2) {
  top: 140px;
}
.flow__desc__number-box:nth-child(3) {
  top: 280px;
}
.flow__desc__number-box:nth-child(4) {
  top: 420px;
}
.flow__desc__number-box:nth-child(5) {
  top: 560px;
}

.flow__desc {
  width: 70%;
  margin-top: 60px;
}
.flow__desc-box {
  height: 140px;
}
.flow__desc__title {
  font-size: 20px;
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
}
.flow__desc__text {
  margin-top: 1rem;
}
/* contact */
.contact {
  background-color: #fff;
  color: #333;
}
.contact > .section__inner > .section__title {
  color: #333;
}
.contact > .section__inner > .section__title:before,
.contact > .section__inner > .section__title:after {
  background-color: #333;
}
.contact h2 {
  text-align: left;
  margin-top: 60px;
}
.contact__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.contact__item {
  width: 30%;
  border: 1px solid #333;
  transition: 0.1s;
  padding: 50px 0px;
  position: relative;
}
.contact__item:hover {
  outline: 3px solid #333;
}
.contact__item::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-left: 10px solid transparent;
  border-right: 10px solid #000;
  border-bottom: 10px solid #000;
  border-top: 10px solid transparent;
}
.contact__item__text {
  margin-top: 5px;
}
/* 
footer
 */
.footer {
  padding-top: 60px;
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__item {
  padding: 0px 20px;
  border-left: 1px solid #fff;
  margin-top: 20px;
}
.footer__item:nth-child(1) {
  border: none;
}
.footer > small {
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
}

/* responsive */
@media screen and (max-width: 960px) {
  /* base */
  main,
  footer {
    margin: 0;
  }
  /*
 header
 */
  .header {
    width: 100%;
    height: 80px;
    padding: 13.5px 0 0 0;
    top: 0px;
  }
  #header__nav-js {
    background-color: #fff;
    width: 300px;
    height: 100vh;
    padding: 35px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -300px;
    transition: all 0.3s;
  }
  .open > #header__nav-js {
    left: 0px;
    z-index: 3;
  }

  .hambuger {
    z-index: 3;
    width: 53px;
    height: 53px;
    position: fixed;
    top: 13.5px;
    right: 10px;
  }
  .hambuger span {
    display: block;
    width: 60%;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;
  }
  .hambuger span:nth-child(1) {
    position: absolute;
    top: 16px;
  }
  .hambuger span:nth-child(2) {
    position: absolute;
    top: 26px;
  }
  .hambuger span:nth-child(3) {
    position: absolute;
    top: 36px;
  }
  .open > .hambuger span:nth-child(1) {
    rotate: -315deg;
    translate: 0 10px;
  }
  .open > .hambuger span:nth-child(2) {
    display: none;
  }
  .open > .hambuger span:nth-child(3) {
    rotate: 315deg;
    translate: 0 -10px;
  }
  .open > .mask {
    transition: all 0.5s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #525151;
    opacity: 0.8;
    top: 0;
    left: 0;
  }
  /* 
  main
  */

  /* mv */
  .backgroundmv {
    left: 0;
  }

  /* example */
  .example__image__list {
    display: block;
  }
  .example__item {
    width: 100%;
  }

  /* flow */
  .flow__wrap {
    display: block;
  }
  .flow__desc {
    margin: 60px auto 0;
  }
  .flow__desc-box {
    height: 200px;
  }
  .flow__desc__number-box {
    right: 0;
    left: 100;
  }
  .flow__desc__number-box:nth-child(2) {
    top: 200px;
  }
  .flow__desc__number-box:nth-child(3) {
    top: 400px;
  }
  .flow__desc__number-box:nth-child(4) {
    top: 600px;
  }
  .flow__desc__number-box:nth-child(5) {
    top: 800px;
  }

  /* contact */
  .contact__list {
    display: block;
  }
  .contact__item {
    margin: 30px auto 0;
    display: block;
    position: relative;
    padding: 0;
    width: 80%;
    height: 260px;
  }
  .contact__image {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    top: 70px;
  }
  .contact__item__text {
    width: 100%;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    top: 160px;
  }
}
